@use '../setting' as *;

.about__inner {
  @media (max-width: 800px) {
  }
  > .img {
    width: 90rem;
    margin: 0 auto;
    padding-top: 10rem;

    img {
      text-align: center;
    }
  }

  .about__title {
    font-size: var(--fs-lg);
    @media (max-width: 320px) {
      display: none;
    }
  }
  .about__text {
    .text {
      font-size: var(--fs-lg);

      @media (max-width: 800px) {
      }
    }
    .img {
      @media (max-width: 320px) {
      }
    }
  }
}
