@use '../setting' as *;

.about {
  padding-top: $sec-inner;

  &__inner {
    max-width: $medium-wide;
    width: 100%;
    margin: 0 auto;

    .sub-tit {
      padding-bottom: 2rem;
    }

    .introduce {
      @include flex(between, center);

      .img-wrap {
        width: calc(42% - $gap-inner);
        margin-right: $gap-inner;

        img {
          text-align: center;
        }
      }

      .text-wrap {
        width: 58%;

        .info {
          p {
            padding-bottom: 1.5rem;
            font-size: 1.25rem;
            font-weight: 400;
            word-break: keep-all;

            &:last-child {
              padding-bottom: 0;
            }

            @media (max-width: $mobile) {
              font-size: 1.125rem;
              padding-bottom: 0.875rem;
            }
          }
        }
      }

      @media (max-width: $tablet) {
        display: block;
        position: relative;

        .img-wrap {
          position: absolute;
          right: 0;
          top: -30%;
          width: 15rem;
          margin-right: 0;
        }

        .text-wrap {
          width: 100%;
        }
      }

      @media (max-width: $mobile) {
        .img-wrap {
          top: -34%;
        }
      }
    }

    .history-list {
      @include flex(between, start);
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: $gap-inner;

      li {
        width: calc((100% - 1.875rem) / 2);

        h3 {
          margin-bottom: 1.25rem;
          font-weight: 600;
          color: var(--black200);

          .icon {
            padding-right: 0.25rem;
          }
        }

        .item {
          > div {
            @include flex(start, start);
            margin-bottom: 1.875rem;

            &:last-child {
              margin-bottom: 0;
            }

            .date {
              width: 100%;
              max-width: 11rem;
              padding: 0.25rem 1rem;
              color: var(--black200);
              font-weight: 500;
              text-align: center;
              background-color: var(--white);
              border-radius: 50px;
            }

            .text-wrap {
              padding-left: 1rem;
              font-size: 1.125rem;

              .name {
                font-size: 1.25rem;
                font-weight: 600;
                letter-spacing: -0.0375rem;
                margin-bottom: 0.5rem;

                @media (max-width: $mobile) {
                  font-size: 1.125rem;
                }
              }

              .desc {
                font-size: 1.125rem;
                color: var(--black300);
                word-break: keep-all;

                @media (max-width: $mobile) {
                  font-size: 1rem;
                }
              }

              .link {
                display: inline-block;
                position: relative;
                overflow: hidden;
                z-index: 1;
                padding: 0.5rem 1.125rem;
                margin-top: 0.625rem;
                font-size: 1rem;
                color: var(--black200);
                border: 1px solid var(--black300);
                border-radius: 50px;
                transition: all 0.3s;

                .icon {
                  padding-right: 0.25rem;
                }

                @media (max-width: $mobile) {
                  font-size: 0.875rem;
                  padding: 0.5rem 1rem;
                }

                &::before {
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  z-index: -1;
                  background-color: var(--black100);
                  transform: translateY(-100%);
                  transition: all 0.3s;
                  content: '';
                }

                &:hover {
                  color: var(--white);

                  &::before {
                    transform: translateX(0);
                  }
                }
              }
            }
          }
        }

        @media (max-width: $mobile) {
          width: 100%;
          margin-bottom: 2rem;

          .date {
            width: 11rem;
            white-space: nowrap;
          }

          .text-wrap {
            width: calc(100% - 11rem);
          }
        }
      }
    }

    @media (max-width: $desktop) {
      padding: 0 $gap-inner;
    }

    @media (max-width: $tablet) {
      padding: 0 calc($gap-inner / 2);
    }

    @media (max-width: $mobile) {
      padding: 0 calc($gap-inner / 4);
    }
  }
}
