@use '../setting' as *;

.about {
  padding-top: 15rem;
  &__inner {
    @include flex(between);
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;

    .sub-tit {
      padding-bottom: 2rem;
    }

    .img-wrap {
      max-width: 50rem;
      margin: 0 auto;
      margin-right: 4rem;

      img {
        text-align: center;
      }
    }

    .text-wrap {
      .desc {
        p {
          padding-bottom: 1.5rem;
          font-size: 20px;
          color: var(--black200);
          word-break: keep-all;
        }
      }
    }
  }
}
