@use '../setting' as *;

.contact {
  position: fixed;
  bottom: 3.75rem;
  left: 0;
  right: 0;
  z-index: -1;
  color: var(--white);
  background-color: var(--black100);

  &__inner {
    @include column-flex(end, start);
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: $large-wide;
    width: 100%;
    padding: 0 var(--spacing-base) var(--spacing-sec) var(--spacing-base);
    margin: 0 auto;

    @media (max-width: $mobile) {
      padding-bottom: 2rem;
    }
  }

  &__cont {
    @include flex(between, end);
    width: 100%;

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      gap: 3rem;
    }

    .sub-tit {
      margin-bottom: 1rem;
      color: var(--white);

      @media (max-width: $mobile) {
        margin-bottom: 0.25rem;
        font-weight: 400;
      }
    }

    .name {
      display: block;
      font-size: 9vw;
      line-height: 1;
      color: var(--white);
      font-weight: 700;
      text-transform: uppercase;
      text-indent: -0.875rem;

      @media (max-width: $mobile) {
        text-indent: 0;
        font-size: 3rem;
      }
    }

    .info {
      @include flex(center, start);
      gap: 3rem;

      @media (max-width: $mobile) {
        width: 100%;
        flex-direction: column;
      }

      .menu {
        @include column-flex(center, end);
        flex-wrap: wrap;
        text-align: right;

        @media (max-width: $mobile) {
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
        }

        h3 {
          margin-bottom: 1rem;
          font-size: 1.75rem;
          font-weight: 700;
          text-transform: uppercase;

          @media (max-width: $mobile) {
            font-size: 1.25rem;
          }
        }

        a {
          position: relative;
          display: inline-block;
          margin: 1rem 0;
          font-size: 1.25rem;

          @media (max-width: $mobile) {
            margin-top: 0.5rem;
            font-size: 1rem;
          }

          &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: var(--white);
            transition: width 0.3s ease-in-out;
            content: '';
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &-trigger {
    min-height: 100vh;
  }
}
