@use '../setting' as *;

.contact {
  position: fixed;
  bottom: 3.75rem;
  left: 0;
  right: 0;
  z-index: -1;
  color: var(--white);
  background-color: var(--black100);

  &__inner {
    @include column-flex(end, start);
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: $large-wide;
    width: 100%;
    padding: 0 $gap-inner $sec-inner $gap-inner;
    margin: 0 auto;

    @media (max-width: $tablet) {
      padding: 0 calc($gap-inner / 2) $sec-inner calc($gap-inner / 2);
    }

    @media (max-width: $mobile) {
      padding: 0 calc($gap-inner / 4) calc($sec-inner / 2) calc($gap-inner / 4);
    }
  }

  &__cont {
    @include flex(between, end);
    width: 100%;

    @media (max-width: $mobile) {
      display: block;
    }

    .sub-tit {
      margin-bottom: 1rem;
      color: var(--white);
    }

    .name {
      display: block;
      font-size: 10vw;
      line-height: 1;
      color: var(--white);
      font-weight: 700;
      text-transform: uppercase;
      text-indent: -0.875rem;

      @media (max-width: $mobile) {
        text-indent: 0;
      }
    }

    .info {
      @include flex(center, start);
      gap: 3rem;

      @media (max-width: $mobile) {
        margin-top: calc($sec-inner / 2);
      }

      .menu {
        @include column-flex(center, end);
        flex-wrap: wrap;
        text-align: center;

        @media (max-width: $mobile) {
          align-items: center;
        }

        h3 {
          margin-bottom: 1rem;
          font-size: 1.75rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        a {
          position: relative;
          display: inline-block;
          margin: 1rem 0;
          font-size: 1.25rem;

          @media (max-width: $mobile) {
            font-size: 1rem;
          }

          &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: var(--white);
            transition: width 0.3s ease-in-out;
            content: '';
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &-trigger {
    min-height: 100vh;
  }

  @media (max-width: $desktop) {
  }
}
