@use '../setting' as *;

.contact {
  position: fixed;
  bottom: 3.75rem;
  left: 0;
  right: 0;
  z-index: -1;
  color: var(--white);
  background-color: var(--black100);

  &__inner {
    @include column-flex(end, start);
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: $large-wide;
    width: 100%;
    padding-bottom: 8rem;
    margin: 0 auto;
  }

  &__cont {
    @include flex(between, end);
    width: 100%;

    .sub-tit {
      margin-bottom: 1rem;
      color: var(--white);
    }

    .name {
      display: block;
      font-size: 10vw;
      line-height: 1;
      color: var(--white);
      font-weight: 700;
      text-transform: uppercase;
      text-indent: -0.875rem;
    }

    .info {
      @include flex(center, start);
      gap: 3rem;

      .menu {
        @include column-flex(center, end);
        flex-wrap: wrap;
        text-align: center;

        h3 {
          margin-bottom: 1rem;
          font-size: 1.75rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        a {
          position: relative;
          display: inline-block;
          margin: 1rem 0;
          font-size: 1.25rem;

          &::after {
            @include position-center;
            top: auto;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: var(--white);
            transition: width 0.3s;
            content: '';
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &-trigger {
    min-height: 100vh;
  }
}
