@use '../setting' as *;

.intro {
  position: relative;

  &__inner {
    @include column-flex(center, center);
    min-height: 100vh;
  }

  &__title {
    margin-top: -4rem;

    .text {
      display: block;
      padding-bottom: 0.5rem;
      font-size: 1.2rem;
      color: var(--black200);
      font-weight: 500;
    }

    .tit p {
      font-size: 6.5rem;
      font-weight: 700;
      line-height: 1.3;
    }
  }

  .scroll {
    @include column-flex(center, center);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    .label {
      display: block;
      margin-bottom: 1rem;
      // font-size: 0.875rem;
      color: var(--black200);
    }

    .bar {
      position: relative;
      overflow: hidden;
      width: 2px;
      height: 6.25rem;
      background-color: var(--black500);

      span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 2px;
        height: 2rem;
        background-color: var(--black300);
        animation: scrollBar 1.8s ease-in-out infinite;
      }
    }
  }
}

@keyframes scrollBar {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(330%);
    opacity: 0;
  }
}
