// z-index 레벨
$skip-level: 100;
$nav-level: 99;
$cursor-level: 30;
$header-level: 20;
$main-level: 10;
$hover-level: 10;

// 너비
$medium-wide: 75rem;
$large-wide: 100rem;

// 미디어쿼리 분기점
$mobileL: 425px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;
