// z-index 레벨
$skip-level: 100;
$cursor-level: 30;
$nav-level: 20;
$logo-level: 20;
$main-level: 10;
$hover-level: 10;

// 레이아웃
$gap-inner: 3rem;
$medium-wide: 68.75rem;
$large-wide: 100rem;

// 미디어쿼리 분기점
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;
