:root {
  --mainEng-font: 'Montserrat';
  --mainKor-font: 'Pretendard';

  --white: #fff;
  --beige: #fbf8f0;
  --black100: #202020;
  --black200: #3f3f3f;
  --black300: #686868;
  --black400: #8f8f8f;
  --black500: #e9e2e2;
  --yellow: #fdd928;
  --orange: #ffad87;
  --green: #b7e684;
  --skyblue: #b8e3f9;
  --purple: #c0b8f6;
}
