@use './constants' as *;

:root {
  --mainEng-font: 'Montserrat';
  --mainKor-font: 'Pretendard';

  --mainColor: #0d99ff;
  --mainColorReverse: #f26600;
  --white: #fff;
  --beige: #fbf8f0;
  --beige200: #f9f5ea;
  --black: #202020;
  --black200: #3f3f3f;
  --gray: #686868;
  --gray200: #8f8f8f;
  --gray300: #d8d9df;
  --gray400: #e9e2e2;
  --yellow: #fdd928;
  --orange: #ffad87;
  --softOrange: #ffc2a6;
  --green: #b7e684;
  --softGreen: #c6f296;
  --skyblue: #b8e3f9;
  --softSkyblue: #cbeeff;
  --purple: #c0b8f6;
  --softPurple: #cec8f8;

  --spacing-base: 4rem;
  --spacing-sec: 8rem;

  @media (max-width: $tablet) {
    --spacing-base: 2rem;
    --spacing-sec: 4rem;
  }

  @media (max-width: $mobile) {
    --spacing-base: 1rem;
  }
}
