:root {
  --mainEng-font: 'Montserrat';
  --mainKor-font: 'Pretendard';

  --mainBg-color: #f3ede8;
  --subBg100: #cdc0b1;
  --subBg200: #afa395;
  --subBg300: #81887c;
  --subBg400: #afa7a2;
  --subBg500: #a6afa2;

  --white: #fff;
  --beige: #fbf8f0;
  --black: #191919;
  --yellow: #fdd928;
  --orange: #ff9a6b;
  --green: #b1e779;
  --skyblue: #a7defa;
  --pink: #f6abaa;
  --lightGreen: #f5f8ce;
  --purple: #a99cfc;

  --black100: #202020;
  --black200: #333;
  --black300: #686868;
  --black400: #8f8f8f;
  --black500: #e0e0e0;
}
